#bo {
    font-family: Arial, sans-serif;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1DsNntYYkmbg1vZwPuei4A5K5YMArO0a6_N-ic2MkjA&s");
    background-size: cover;
    height: 100vh;
    padding-top: 100px;
    
}

.container1 {
    
    background-size: cover;
    
    width: 300px;
    padding: 16px;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    border-radius: 10px;
   margin-top: 100px;
    
    margin-left: 550px;
}

.forgot{
    text-align: right;
    
}

img{

    margin-left: 100px;
    border-radius: 10px;
    height: 100px;
    

}
#f{
    font-family: Arial, sans-serif;
    margin-right: 450px;
}
#textbox{
    height:fit-content;
    background-color: aliceblue;
    width: 300px;

    border-radius: 10px;

    
}
#button1{
    background-color: rgb(222, 53, 15);
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    margin-top: 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius:10px;
    font-family: Arial, sans-serif;
    width: 330px;
    margin-left: px;
}
#rem{
    font-family: Arial, sans-serif;
}
