body {
    font-family: Arial, sans-serif;
    background-image: url("");
    background-size: cover;
    height: 100vh;
    
    
}
#all{
    color:	#4B0082;
    margin-left: 100px;
    font-family: Arial, sans-serif;
    margin-top: 12px;
   

}
#sign{
    margin-left: px;
    color: #0a0a0a;
   
}
#sign:hover{
    color: 	#4B0082;
}

#log{
margin-right: px;
color: #0a0a0a;
}
#log:hover{
    color: 	#4B0082;
}
#near{
    margin-left: 800px;
}
#near:hover{
    color: #4B0082;
}




.header {
  display: flex;
background-color: white;
    padding: 10px;
    height: 50px;
    text-align: center;
    

    font-family: Arial, sans-serif;
    
}

.navbar {
    overflow: hidden;
    background-color: 	#4B0082;
    background-size: cover;

}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color:	#663399;
    color: black;
}

.main{
    margin-left: 400px;
    margin-top: 50px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.dog{
    display: flex;
    margin-left:250px;    
}
.dog1{
    display: flex;
    margin-left:250px;
}

.footer {
    background-color: #4B0082;
    padding: 10px;
    text-align: center;
    color: white;
    margin-top: 50px;
    
}

.footer a {
    color: white;
    margin: 0 10px;
    text-decoration: none;

}

.footer a:hover {
    text-decoration: underline;
}
body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.contain{
    display: flex;
    margin-left: 180px;
    margin-top: 25px;
    background-size: cover;
    
    
}

#delhi{
    margin-top: px;
    background-image: url("https://t3.ftcdn.net/jpg/04/81/85/46/240_F_481854656_gHGTnBscKXpFEgVTwAT4DL4NXXNhDKU9.jpg");
}

h1 {
    color:white;
    text-align: center;
    margin-bottom: 30px;
    font-family: Arial, sans-serif;
}

.car {
    background-color:#663399;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#id{
    color: #666;
    margin-bottom: 20px;
}

#but1 {
    background-color:black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
#but1.hover{
    background-color: #663399;
    opacity: 0.5;
}

button:hover {
    background-color: #0056b3;
}
body {
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
    font-family: Arial, sans-serif;

}

.friend {
    border: 3px solid #0a0a0a;
    padding: 20px;
    margin: 10px;
    background-color: white;
    
    background-size: cover;
    color: white;
    border-radius: 10px;
    width: 300px;
}

.friend h2 {
    
    text-align: center;
}





